<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class='dalle-whale-images' src="{{ `images/real-time-song-analysis.png` | relURL }}" width="220" height = "220" alt="Song Analysis Whale">
        <h2 class="h2">Real Time Song Analysis</h2>
        <p>Instantly decode the secrets of the deep with real-time analysis of whale songs, uncovering species details, emotional states, and hidden messages.</p>

    </div>
    <div class="col-lg-4">
        <img class='dalle-whale-images' src="{{ `images/species-identification.png` | relURL }}" width="220" height = "220" alt="Song Analysis Whale">
        <h2 class="h2">Species Identification</h2>
        <p>Dive into the diversity of the ocean with precise whale species identification from their unique songs, complete with visual and auditory guides.</p>
    </div>
    <div class="col-lg-4">
        <img class='dalle-whale-images' src="{{ `images/mood_interpretation.png` | relURL }}" width="220" height = "220" alt="Song Analysis Whale">
        <h2 class="h2">Mood Interpretation <small class="d-none">📈</small></h2>
        <p>Explore the emotional spectrum of whales through song, with intuitive mood interpretations visualized by color codes and emoticons.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Historical Song Library <small class="d-none">🦉</small></h2>
        <p>Travel through time with access to a vast library of historical whale songs, a treasure trove for education and research.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Shareable Analysis Reports <small class="d-none">✨</small></h2>
        <p>Create and share detailed, insightful reports of your whale song analyses, highlighting key findings and fostering a deeper connection with marine life.</p>

    </div>
    <div class="col-lg-4">
        <h2 class="h2">User Community and Forums <small class="d-none">🧰</small></h2>
        <p>Join a vibrant community of marine enthusiasts, sharing discoveries, discussing conservation, and connecting over the shared love for whales.</p>
    </div>
</div>
